main {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: brown;
}

header {
  display: flex;
  place-items: center;
  place-content: center;
  height: 5vh;
  color: white
}